.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.movieResults{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    list-style: none;
}

.movies{
    text-align: center;
    
}
.movies p{
    margin-top: 0;
}
.movies h3{
    margin-bottom: 0;
    font-size: 1em;
}
.movies img {
    border-radius: 15px;
}